# Ignore everything
*

# Keep these files
!.gitignore
!01_data_collection.ipynb
!02_data_cleaning.ipynb
!03_structure_analysis.ipynb
!04_feature_engineering.ipynb
!05_model_training.ipynb
!README.md
!day5_xgb_results.png
!day5_xgb_importance.png